<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
    </head>
    
    <body>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a href="{{ url_for('index') }}" class="navbar-item">
                    Home
                </a>
                <a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a>
                <a href="{{ url_for('logout') }}" class="navbar-item">
                    Logout
                </a>
                {% if not current_user.is_anonymous and current_user.adminship %}
                <a href="{{ url_for('admin') }}" class="navbar-item">
                    Admin
                </a>
                {% endif %}
                {% if not current_user.is_anonymous and not current_user.adminship %}
                <a href="{{ url_for('register') }}" class="navbar-item">
                    Register
                </a>
                {% endif %}
        </div>
        <h1>Add student:</h1>
            <form action = "{{ url_for('add_student') }}" method = "post">
                <p>
                    ID: <input type = "text" name = "newstudent_id" /> Username <input type = "text" name = "newstudent_username" /> Password <input type = "text" name = "newstudent_password" />
                </p>
                <table>
                    <tr>
                        <td>ID, username, password, adminship</td>
                    </tr>   
                {% for item in data3 %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>   
                {% endfor %}
                </table>
                <p>
                    Name <input type = "text" name = "newstudent_name" /> Surname <input type = "text" name = "newstudent_surname" /> GPA <input type = "text" name = "newstudent_gpa" /> Year <input type = "text" name = "newstudent_year" /> <input type = "submit" value = "submit" />
                </p>
            </form>
                <table>
                    <tr>
                        <td>ID, name, surname, gpa, year</td>
                    </tr>   
                {% for item in data %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>   
                {% endfor %}
                </table>
                
        <h1>Delete student:</h1>
            <form action = "{{ url_for('delete_student') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "student_del_id"/><input type = "submit" value = "submit" />
                </p>
            </form>
            
        <h1>Add course:</h1>
            <form action = "{{ url_for('add_course') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "course_crn" /> Name <input type = "text" name = "course_name" /> Day <input type = "text" name = "course_day" /> Max_enrolled <input type = "text" name = "course_max" /> Year Requirement <input type = "text" name = "course_yearreq" /> Hours <input type = "text" name = "course_hours" />Course Code <input type = "text" name = "course_code" /> <input type = "submit" value = "submit" />
                </p>
            </form>
        <h1>Delete course:</h1>
            <form action = "{{ url_for('delete_course') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "course_del_crn"/><input type = "submit" value = "submit" />
                </p>
            </form>
                <table>
                {% for item in data2 %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>   
                {% endfor %}
                </table>
        <h1>Finalize:</h1>
            <form action = "{{ url_for('finalize') }}" method = "post">
                <input type = "submit" value = "submit" />
            </form>
        <h1>Reset(Delete all queries and set enrolled numbers to zero)</h1>
            <form action = "{{ url_for('reset') }}" method = "post">
                <input type = "submit" value = "submit" />
            </form>
    </body>
</html>