<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='a.css')}}">
        <title>Admin</title>
    </head>
    
    <body>
        <div class="navbar">
            <nav>
                <a href="{{ url_for('index') }}" class="navbar-item">
                    Home
                </a>
                <a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a>
                <a href="{{ url_for('logout') }}" class="navbar-item">
                    Logout
                </a>
                {% if not current_user.is_anonymous and current_user.adminship %}
                <a href="{{ url_for('admin') }}" class="navbar-item">
                    Admin
                </a>
                {% endif %}
                {% if not current_user.is_anonymous and not current_user.adminship %}
                <a href="{{ url_for('register') }}" class="navbar-item">
                    Register
                </a>
                {% endif %}
            </nav>
        </div>
        
        <h1>Add/Modify student:</h1>
            <form action = "{{ url_for('add_mod_student') }}" method = "post">
                <p>
                    ID: <input type = "text" name = "newstudent_id" /> Username <input type = "text" name = "newstudent_username" /> Password <input type = "text" name = "newstudent_password" />
                </p>
                </table>
                <p>
                    Name <input type = "text" name = "newstudent_name" /> Surname <input type = "text" name = "newstudent_surname" /> GPA <input type = "text" name = "newstudent_gpa" /> Year <input type = "text" name = "newstudent_year" /> 
                    <br>Add <input type = "radio" name = "student_radio" id = "student_radio_add" value = "add">
                    Modify  <input type = "radio" name = "student_radio" id = "student_radio_modify" value = "modify">
                    <br><input type = "submit" value = "submit" class="button"/>
                </p>
            </form>      
            <p>User list:</p>
            <table style = "width : 100%">
                <tr>
                    <th>ID, username, password, adminship</th>
                </tr>   
                {% for item in data3 %}
                <tr>
                    <td>{{item[0]}}</td>   
                    <td>{{item[1]}}</td>   
                    <td>{{item[2]}}</td>   
                    <td>{{item[3]}}</td>
                </tr>
                {% endfor %}
            </table>
        <h1>Delete student:</h1>
            <form action = "{{ url_for('delete_student') }}" method = "post">
                <p>
                    CRN <input type = "text" name = "student_del_id"/><br><input type = "submit" value = "submit" class="button"/>
                </p>
            </form>
            <p>Student List:</p>
            <table>
                    <tr>
                        <td>ID, name, surname, gpa, year</td>
                    </tr>   
                {% for item in data %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>   
                {% endfor %}
                </table>
        <h1>Add course:</h1>
            <form action = "{{ url_for('add_course') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "course_crn" /> Name <input type = "text" name = "course_name" /> Day <input type = "text" name = "course_day" /> Max_enrolled <input type = "text" name = "course_max" /> Year Requirement <input type = "text" name = "course_yearreq" /> Hours <input type = "text" name = "course_hours" />Course Code <input type = "text" name = "course_code" /> <br><input type = "submit" value = "submit" class="button"/>
                </p>
            </form>
        <h1>Modify course:</h1>
            <form action = "{{ url_for('modify_course') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "course_mod_crn" /> Name <input type = "text" name = "course_mod_name" /> Day <input type = "text" name = "course_mod_day" /> Max_enrolled <input type = "text" name = "course_mod_max" /> Year Requirement <input type = "text" name = "course_mod_yearreq" /> Hours <input type = "text" name = "course_mod_hours" />Course Code <input type = "text" name = "course_mod_code" /> <br><input type = "submit" value = "submit" class="button"/>
                </p>
            </form>
        <h1>Delete course:</h1>
            <form action = "{{ url_for('delete_course') }}" method = "post">
                <p>
                    CRN: <input type = "text" name = "course_del_crn"/><br><input type = "submit" value = "submit" class="button"/>
                </p>
            </form>
                <p>Course List:</p>
                <table>
                    <tr>
                        <td>CRN, name, day, num_enrolled, max_enrolled, year_req, hours, lecture_code</td>
                    </tr>   
                {% for item in data2 %}
                    <tr>
                        <td>{{item}}</td>
                    </tr>   
                {% endfor %}
                </table>
        <h1>Finalize:</h1>
            <form action = "{{ url_for('finalize') }}" method = "post">
                <input type = "submit" value = "submit" class="button"/>
            </form>
        <h1>Reset(Delete all queries and set enrolled numbers to zero)</h1>
            <form action = "{{ url_for('reset') }}" method = "post">
                <input type = "submit" value = "submit" class="button"/>
            </form>
    </body>
</html>