<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='a.css')}}">
        <title>Login</title>
    </head>
    
    <body>
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('index') }}" class="navbar-item">
                    Home
                </a></li>
                <li><a href="{{ url_for('login') }}" class="navbar-item">
                    Login
                </a></li>
                <li><a href="{{ url_for('logout') }}" class="navbar-item">
                    Logout
                </a></li>
                {% if not current_user.is_anonymous and current_user.adminship %}
                <li><a href="{{ url_for('admin') }}" class="navbar-item">
                    Admin
                </a></li>
                {% endif %}
                {% if not current_user.is_anonymous and not current_user.adminship %}
                <li><a href="{{ url_for('register') }}" class="navbar-item">
                    Register
                </a></li>
                {% endif %}
            </ul>
        </div>
        <form action = "{{ url_for('login') }}" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "givenu" /></p>
            <p><input type = "text" name = "givenp" /></p>
            <p><input type = "submit" value = "submit" /></p>
      </form>
    </body>
</html>